body {
  font-size: 4vh;
  touch-action: manipulation;
}

button {
  width: 100%;
  font-size: 6vh;
  touch-action: manipulation;
}

.title {
  font-size: 3vh
}

.result {
  font-size: 3vh;
}

.g {
  color: #550055;
  background-color: #e0c0e0;
}

.a {
  color: #000055;
  background-color: #a4a4f0;
}

.s {
  color: #550000;
  background-color: #FFDD44
}